@import "mixins";

/* Animation ------------- */
@keyframes fade-in-demo {
  from {
    opacity: 0;
    transform: translateX(-15px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes grow-demo {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/*
(1) In an actual project, add functionality to dynamically assign 'fonts-loaded' to body
and use that to selectively fade in e.g. .fonts-loaded .intro-fade { [do anim] }
*/
.intro-fade {
  opacity: 0;
  animation: fade-in-demo ease 0.4s forwards;
  animation-delay: 0.5s; /* 1 */
}

.intro-pop {
  transform: scale(0.9);
  opacity: 0;
  animation: grow-demo ease 0.4s forwards;
  animation-delay: 0.75s; /* 1 */
}

/* Spacing ------------- */
.cbs {
  // content, standard bottom spacing. In a real system, something more robust
  margin-bottom: 0.8em;
}

.cbs-sm {
  margin-bottom: 0.25em;
}

/* Accessibility ------------- */
.visually-hidden {
  @include visually-hidden;
}
